.idea/
analysis/old_data
data/
analysis/data
experiments/heatmap/exp*
experiments/max_flightsize/exp*
experiments/steady_ssthresh/exp*

experiments/heatmap/data
experiments/max_flightsize/data
experiments/steady_ssthresh/data
experiments/packet_transmission/data